<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-warning rounded mb-3">
  
  <div class="container-fluid">

    <a class="navbar-brand text-white fw-bold" href="#">
      <img
        src="chef.png"
        height="40"
        alt="CookWithMe Logo"
      />
      CookWithMe
    </a>
    
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <h4 class="text-white">Welcome Admin</h4>
    </div>

    <div>
      <button class="btn btn-outline-light" routerLink="/login">Logout</button>
    </div>

    
  </div>

</nav>
