<div class="d-flex">
  <div class="bg-warning vh-100 p-3" style="width: 220px;">
    <h4 class="mb-4 text-center">
      <i class="fa-solid fa-user"></i> Admin
    </h4>
    <div class="nav flex-column">
      <button class="btn btn-outline-light mb-2 w-100" routerLink="/admin">Dashboard</button>
      <button class="btn btn-outline-light mb-2 w-100" routerLink="/admin/recipeList">Recipes</button>
      <button class="btn btn-outline-light mb-2 w-100" routerLink="/admin/userList">Users</button>
      <button class="btn btn-outline-light mb-2 w-100" routerLink="/admin/downloadList">Downloads</button>
    </div>
  </div>
</div>

